In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./datasets/train.csv')

In [4]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
samplesub = pd.read_csv('./datasets/sample_sub_reg.csv')

In [6]:
samplesub.head()

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217
3   7  181479.1217
4  17  181479.1217

In [7]:
samplesub.shape

(878, 2)

In [9]:
testing = pd.read_csv('./datasets/test.csv')

In [10]:
testing.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [11]:
df['SalePrice'].mean()

181469.70160897123

In [12]:
testing['SalePrice'] = df['SalePrice'].mean()

In [13]:
testing.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,181469.701609
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,8,2006,WD,181469.701609
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,9,2006,New,181469.701609
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,7,2007,WD,181469.701609
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,185,0,NaN,NaN,NaN,0,7,2009,WD,181469.701609

In [15]:
testing.query('`Gr Liv Area` > 4000')

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
170,1761,528320050,60,RL,160.0,15623,Pave,NaN,IR1,Lvl,...,0,555,Ex,MnPrv,NaN,0,7,2007,WD,181469.701609
463,1768,528351010,60,RL,104.0,21535,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,1,2007,WD,181469.701609

In [16]:
testing[['Id', 'SalePrice']]

       Id      SalePrice
0    2658  181469.701609
1    2718  181469.701609
2    2414  181469.701609
3    1989  181469.701609
4     625  181469.701609
..    ...            ...
873  1662  181469.701609
874  1234  181469.701609
875  1373  181469.701609
876  1672  181469.701609
877  1939  181469.701609

[878 rows x 2 columns]

In [18]:
testing[['Id', 'SalePrice']].to_csv('first_submit.csv', index=False)

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
linreg = LinearRegression()

In [22]:
X = df[['Gr Liv Area']]
y = df['SalePrice']

In [23]:
linreg.fit(X, y)

LinearRegression()

In [24]:
preds = linreg.predict(testing[['Gr Liv Area']])

In [25]:
preds

array([228792.19843593, 233097.55624754, 181102.08113799, 122814.15999607,
       169841.91455375, 136502.98996122, 136613.38375126, 155932.29700852,
       201414.53850563, 157146.62869898, 150302.21371641, 130762.51287906,
       167744.43254297, 323620.46408159, 217642.42564173, 163880.64989151,
       174478.4537355 , 134405.50795043, 211681.16097949, 208258.9534882 ,
       132970.38867989, 111333.20583175, 194459.72973301, 125022.0357969 ,
       150412.60750645, 111333.20583175, 207817.37832804, 209142.10380853,
       132308.02593964,  89916.8105637 , 110670.8430915 , 149308.66960603,
       307392.57694549, 145996.85590479, 180660.50597782, 176907.11711641,
       198875.48133467, 126125.97369731, 116411.32017366, 165867.73811226,
       151074.9702467 , 224155.65925418, 162445.53062097, 166419.70706247,
       181654.0500882 , 164322.22505168, 213116.28025003, 122482.97862594,
       119281.55871474, 130762.51287906, 153724.42120769, 266326.08705004,
       194238.94215293, 166088.52569234, 142022.67946329, 129216.99981848,
       216869.66911144, 164322.22505168, 147652.76275541, 221837.38966331,
       237402.91405916, 141801.89188321, 145776.0683247 , 200310.60060521,
       192914.21667243, 243695.36009153, 110670.8430915 , 159685.68586994,
       101397.76472801, 109566.90519109,  98417.13239689, 294145.3221405 ,
       188167.28370065, 178452.63017699, 131866.45077947, 206271.86526746,
       211460.37339941, 149198.27581599, 113320.2940525 , 212453.91750978,
       177017.51090645, 138158.89681184, 165867.73811226, 174478.4537355 ,
       202297.68882596, 241377.09050066, 112657.93131225, 161672.77409068,
       204395.17083675, 180991.68734795, 126236.36748736, 164543.01263176,
       154055.60257782, 151516.54540686, 156594.65974877, 197219.57448405,
       182537.20040853, 187504.9209604 , 201083.3571355 , 199758.63165501,
       202960.05156621, 213557.8554102 , 117846.4394442 , 288625.63263843,
       153282.84604753, 111553.99341183, 181654.0500882 , 224707.62820439,
       228019.44190563, 218194.39459194, 174257.66615542, 222830.93377368,
       168517.18907326, 141801.89188321, 180881.29355791, 416351.24771646,
       215986.51879111, 159685.68586994, 205830.29010729, 193024.61046247,
       232987.1624575 , 233428.73761767, 205167.92736704, 178231.84259691,
       262131.12302846, 273280.89582266, 111333.20583175, 127229.91159773,
       150191.81992636, 184855.4699994 , 129106.60602843, 196777.99932388,
       174920.02889566, 140477.16640271, 186952.95201019, 251422.92539444,
       167082.06980272, 138931.65334213, 159685.68586994, 106034.30390976,
       168406.79528321, 134957.47690064, 178121.44880687, 178673.41775708,
       141470.71051308, 232324.79971725, 211129.19202928, 169621.12697367,
       111333.20583175, 208038.16590812, 205830.29010729, 195453.27384339,
       148204.73170562, 115307.38227325, 103384.85294876, 137165.35270147,
       136502.98996122, 119281.55871474, 250760.56265419, 265774.11809983,
       180770.89976786, 148425.5192857 , 132528.81351972, 311145.9658069 ,
       176686.32953633, 188498.46507077, 138931.65334213, 142353.86083342,
       271845.77655212, 175471.99784587, 510075.57546171, 125242.82337698,
       188167.28370065, 150964.57645666, 225149.20336455, 207375.80316787,
        92235.08015457, 231110.4680268 , 136502.98996122, 153062.05846744,
       199869.02544505, 234311.887938  , 255176.31425585, 180660.50597782,
       164984.58779193, 154828.35910811, 180329.3246077 , 244247.32904174,
       124138.88547657, 120164.70903507, 199648.23786496, 120275.10282511,
       108462.96729067, 111333.20583175, 179777.35565749, 116632.10775374,
       222830.93377368, 177679.8736467 , 192693.42909235, 142353.86083342,
       289177.60158864, 248221.50548323, 119060.77113466, 204726.35220687,
       173484.90962512, 130762.51287906, 176686.32953633, 156042.69079856,
       167192.46359276, 229344.16738613, 205167.92736704, 223051.72135377,
       158581.74796952, 240714.72776041, 187836.10233052, 207706.984538  ,
       217973.60701186, 169289.94560355, 114424.23195291, 130762.51287906,
       176244.75437616, 132528.81351972, 214220.21815044, 188167.28370065,
       110450.05551142, 109346.117611  , 268754.75043095, 234201.49414796,
       156484.26595873, 274716.0150932 , 183530.7445189 ,  85501.05896204,
       219519.12007244, 100735.40198776, 359498.44584508, 181322.86871807,
       109125.33003092, 321964.55723097, 247448.74895294, 165205.37537201,
       227798.65432555, 157698.59764919, 278027.82879444, 271404.20139195,
       238727.63953966, 198213.11859442, 113320.2940525 , 114645.019533  ,
       214661.79331061, 222278.96482348, 195342.88005335, 192031.0663521 ,
       238948.42711974, 247117.56758282, 171829.0027745 , 144230.55526412,
       141801.89188321, 317107.23046914, 223382.90272389, 267540.4187405 ,
       167634.03875292, 185517.83273965, 150412.60750645, 136723.7775413 ,
       239058.82090979, 215324.15605086, 161010.41135043, 211901.94855957,
       164984.58779193, 134295.11416039, 268865.144221  , 189933.58434131,
       210466.82928903, 396480.36550899, 111333.20583175, 145776.0683247 ,
       109566.90519109, 174036.87857533, 131645.66319939, 140477.16640271,
       214772.18710065, 179556.56807741, 123476.52273632, 128223.4557081 ,
       150412.60750645, 220181.48281269, 274826.40888324, 124911.64200686,
       102501.70262843, 142243.46704338, 113982.65679275, 198544.29996455,
       136502.98996122, 118067.22702428, 174588.84752554, 109566.90519109,
       192141.46014214, 243474.57251145, 174920.02889566, 192914.21667243,
       232104.01213717, 223934.8716741 , 124138.88547657, 225921.95989485,
        90137.59814378, 127009.12401765, 213116.28025003, 158802.5355496 ,
       143126.61736371, 128996.21223839, 271514.59518199, 163659.86231143,
       190154.37192139, 277917.4350044 , 308496.5148459 , 220843.84555294,
       230116.92391642, 201635.32608571, 268865.144221  , 148756.70065582,
       116632.10775374, 166861.28222263, 202628.87019609, 186400.98305998,
       114645.019533  , 121710.22209565, 160127.2610301 , 142022.67946329,
       231441.64939692, 206713.44042762, 221947.78345335, 204615.95841683,
       227909.04811559, 152289.30193715,  99741.85787739, 214882.58089069,
       103384.85294876, 186400.98305998, 135399.0520608 , 102943.2777886 ,
       200972.96334546, 175692.78542596, 155932.29700852, 201635.32608571,
       261579.15407826, 219960.6952326 , 212012.34234961, 114424.23195291,
       180439.71839774, 133411.96384005, 221726.99587327, 170283.48971392,
       150412.60750645, 199206.6627048 , 164984.58779193, 344705.67797952,
       183861.92588903, 173926.48478529, 242481.02840107, 183420.35072886,
       190154.37192139, 193466.18562264, 151074.9702467 , 212012.34234961,
       152178.90814711, 195342.88005335, 189492.00918114, 197771.54343426,
       238286.0643795 , 144340.94905416, 296794.7731015 , 124911.64200686,
       217311.24427161, 331127.24180441, 116742.50154378, 212012.34234961,
       173374.51583508, 197661.14964422, 161010.41135043, 131756.05698943,
       201414.53850563, 224486.84062431, 215544.94363094, 297457.13584175,
       226584.32263509, 197329.96827409, 282443.5803961 , 182868.38177865,
       147100.7938052 , 162003.95546081, 136502.98996122, 206492.65284754,
       188608.85886081, 183861.92588903, 151295.75782678, 106034.30390976,
       162776.7119911 , 182757.98798861, 110670.8430915 , 114645.019533  ,
       209362.89138862, 212674.70508986, 164211.83126164, 205499.10873716,
       182316.41282845, 129327.39360852, 201414.53850563, 217863.21322181,
       226142.74747493, 121047.8593554 , 140808.34777284, 191258.30982181,
       311035.57201686, 210687.61686912, 246675.99242265, 304301.55082432,
       156263.47837865, 293482.95940025, 111333.20583175, 214992.97468074,
       283326.73071643, 132528.81351972, 356628.207304  , 158360.96038944,
       186069.80168986, 238948.42711974, 151295.75782678, 204726.35220687,
       117294.47049399, 200089.81302513, 140256.37882263, 133191.17625997,
       114534.62574295, 191920.67256206, 156484.26595873, 278248.61637452,
       166971.67601268, 172270.57793467, 135178.26448072, 169621.12697367,
       208479.74106829, 149971.03234628, 136282.20238113, 149308.66960603,
       137606.92786163, 178563.02396703, 135840.62722097, 100404.22061764,
       280677.27975544, 111333.20583175, 216869.66911144, 203843.20188654,
       165867.73811226, 211791.55476953, 187394.52717036, 215876.12500107,
       172380.97172471, 127229.91159773, 227357.07916539, 121931.00967574,
       151626.9391969 , 132528.81351972, 164763.80021184, 492412.56905507,
       147983.94412553, 232214.40592721, 210135.64791891, 254513.9515156 ,
        98969.1013471 , 106034.30390976, 113541.08163258, 194128.54836289,
       183309.95693882, 114976.20090312, 263566.242299  , 189050.43402098,
       133411.96384005, 194790.91110314, 127671.4867579 , 161231.19893052,
       109235.72382096, 262793.48576871,  85501.05896204, 187394.52717036,
       368550.73662849, 141360.31672304, 109566.90519109, 149639.85097616,
       154607.57152803, 157808.99143923, 277807.04121436, 181322.86871807,
       265884.51188987, 246675.99242265, 272508.13929237, 172049.79035459,
       169621.12697367, 164763.80021184, 233207.95003759, 142795.43599358,
       179777.35565749, 291827.05254963, 139483.62229234, 148315.12549566,
       219739.90765252, 111333.20583175, 316996.8366791 , 121047.8593554 ,
       159906.47345002, 232214.40592721, 193686.97320272, 166640.49464255,
       160348.04861018, 118067.22702428,  60883.24378278, 190375.15950148,
       158581.74796952, 202960.05156621, 195894.84900355, 282774.76176623,
       125794.79232719, 185849.01410977, 218635.96975211, 124138.88547657,
       176575.93574629, 309158.87758615, 130320.93771889, 199648.23786496,
       178452.63017699,  82078.85147075, 108242.17971059, 208700.52864837,
       137717.32165167, 150854.18266661, 257936.15900689, 167744.43254297,
       136502.98996122, 254513.9515156 , 128775.42465831, 163549.46852139,
       132087.23835956, 111333.20583175,  85501.05896204, 119281.55871474,
       234753.46309817, 288404.84505834, 247448.74895294, 113320.2940525 ,
       124911.64200686, 190595.94708156, 157367.41627906, 258708.91553718,
       105151.15358943, 250650.16886415, 173595.30341517, 108683.75487075,
       130541.72529897, 186842.55822015, 139373.2285023 , 214772.18710065,
       120827.07177532, 153945.20878778, 148425.5192857 , 141912.28567325,
       133963.93279026, 119502.34629482, 138931.65334213, 206492.65284754,
       107800.60455042, 151516.54540686, 164322.22505168, 118067.22702428,
       112657.93131225, 122482.97862594, 189271.22160106, 117404.86428403,
       154828.35910811, 109566.90519109, 308938.09000607, 151737.33298695,
       174478.4537355 , 166088.52569234, 260144.03480772, 128775.42465831,
       167634.03875292, 155159.54047823, 143457.79873383, 139594.01608238,
       218856.75733219, 180660.50597782, 160127.2610301 , 103826.42810893,
       142243.46704338, 182095.62524836, 218856.75733219, 244136.9352517 ,
       185959.40789982, 106034.30390976, 106034.30390976, 216428.09395128,
       173374.51583508, 222389.35861352, 114645.019533  , 189712.79676123,
       181543.65629816, 103053.67157864, 121931.00967574, 113320.2940525 ,
       149750.2447662 , 155932.29700852, 132197.6321496 , 328146.60947329,
       172491.36551475, 151295.75782678, 161672.77409068, 104268.00326909,
       163880.64989151, 260364.8223878 , 143126.61736371, 173816.09099525,
       151958.12056703, 185407.43894961, 226142.74747493, 114203.44437283,
       176686.32953633, 238948.42711974, 178894.20533716, 133522.3576301 ,
       294366.10972059, 140808.34777284, 256280.25215626, 286086.57546747,
       111333.20583175, 111333.20583175, 169841.91455375, 182868.38177865,
       204615.95841683, 175361.60405583, 153724.42120769, 185849.01410977,
       194790.91110314, 110891.63067158, 178011.05501683, 189381.6153911 ,
       135399.0520608 ,  86715.39065249, 255397.10183593, 172270.57793467,
       134295.11416039, 200862.56955542, 145665.67453466, 107910.99834046,
       131645.66319939, 132308.02593964,  95436.50006577, 192031.0663521 ,
       228792.19843593, 230558.49907659, 250760.56265419, 168517.18907326,
       129879.36255873, 217090.45669152, 208038.16590812, 265774.11809983,
       319315.10626997, 223051.72135377, 287632.08852805, 227909.04811559,
       151074.9702467 , 236740.55131891, 167413.25117284, 347686.31031064,
       209694.07275874, 207817.37832804, 123034.94757615, 135840.62722097,
       205388.71494712, 136502.98996122, 187063.34580023, 102060.12746826,
       297567.52963179, 193686.97320272, 197440.36206413, 189712.79676123,
       216869.66911144, 197550.75585418, 201304.14471559, 236740.55131891,
       138710.86576205, 218746.36354215, 103384.85294876, 116632.10775374,
       184855.4699994 , 127671.4867579 , 176355.1481662 , 145886.46211475,
       202739.26398613, 276261.52815378, 111333.20583175, 200089.81302513,
       109566.90519109, 140918.74156288, 223714.08409402, 114865.80711308,
       276703.10331394, 248883.86822348, 133191.17625997, 155932.29700852,
       126898.7302276 , 203401.62672638, 187394.52717036, 176244.75437616,
       150191.81992636, 136944.56512138, 149529.45718612, 276261.52815378,
       294034.92835046, 207927.77211808, 199317.05649484, 241045.90913053,
       174478.4537355 , 235857.40099858, 124690.85442677, 159685.68586994,
       258598.52174713, 169621.12697367, 171718.60898446, 131093.69424918,
       194570.12352305, 141912.28567325, 161010.41135043, 213778.64299028,
       257053.00868655, 126788.33643756, 214330.61194049, 166309.31327243,
       181433.26250811, 169952.3083438 , 133853.53900022, 149087.88202595,
       180881.29355791, 222168.57103343, 184413.89483923, 153393.23983757,
       178231.84259691, 244578.51041186, 202739.26398613, 282112.39902598,
       151074.9702467 , 239831.57744008, 203180.83914629, 200089.81302513,
       176686.32953633, 175471.99784587, 130762.51287906, 150412.60750645,
       297677.92342183, 131756.05698943, 171387.42761434, 162114.34925085,
       118177.62081432, 247559.14274298, 168517.18907326, 218967.15112223,
       234974.25067825, 232324.79971725, 195674.06142347, 147321.58138529,
       265663.72430979, 147321.58138529, 238175.67058945, 178452.63017699,
       206713.44042762, 249656.62475377, 167634.03875292, 195342.88005335,
       193907.76078281, 121710.22209565, 178231.84259691, 302093.67502349,
       182868.38177865, 324503.61440192, 147542.36896537, 100735.40198776,
       151737.33298695, 168627.5828633 , 198213.11859442, 129879.36255873,
       253189.2260351 , 174920.02889566, 145444.88695458, 198544.29996455,
       159244.11070977, 275267.9840434 , 200862.56955542, 158912.92933964,
       128554.63707823, 181764.44387824, 193024.61046247, 229012.98601601,
       163770.25610147, 124580.46063673, 173816.09099525, 223934.8716741 ,
       272287.35171228, 128002.66812802, 120716.67798528, 176686.32953633,
       161231.19893052, 111333.20583175, 142243.46704338, 291275.08359942,
       168958.76423342, 206713.44042762, 165867.73811226, 167413.25117284,
       226363.53505501, 131535.26940935, 121931.00967574, 170504.277294  ,
       169179.55181351, 114645.019533  , 323510.07029155, 231331.25560688,
       170945.85245417, 205499.10873716, 307392.57694549, 139373.2285023 ,
       206713.44042762, 151958.12056703, 142353.86083342, 168627.5828633 ,
       217752.81943177, 164101.4374716 , 136392.59617117, 124580.46063673,
       217532.03185169, 143347.40494379, 123145.34136619, 131976.84456951,
       243474.57251145, 195453.27384339, 184193.10725915, 119281.55871474,
       160348.04861018, 158912.92933964, 259592.06585751, 220402.27039277,
       129879.36255873, 157477.8100691 , 148867.09444587, 164101.4374716 ,
       111333.20583175, 120054.31524503, 200752.17576538, 193135.00425251,
       179114.99291724,  85501.05896204, 200089.81302513, 107910.99834046,
       230558.49907659, 100625.00819772, 166640.49464255, 160900.01756039,
       151626.9391969 , 206382.2590575 , 180550.11218778, 246675.99242265,
       284430.66861685, 190595.94708156, 184855.4699994 , 241818.66566082,
       169400.33939359, 223162.11514381, 235415.82583842, 149639.85097616,
       111333.20583175, 118067.22702428])

In [28]:
testing['SalePrice'] = preds

In [29]:
testing[['Id', 'SalePrice']].to_csv('second_submit.csv', index=False)